* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    letter-spacing: 1px;
  }
  .bgcab {
    background-color: rgba(17, 57, 235, 0.2);
    color: #fff;
  }
  .crh:hover {
    color: rgb(179, 7, 7);
  }
  .back-to-top {
    right: 1%;
    bottom: 5%;
    background-color: rgba(163, 151, 151, 0.5);
  }
  .toggle {
    display: block;
  }
  .menulist {
    animation: slideToLeft 1s ease-in-out ;
  }
  @keyframes slideToLeft {
    0% {
      transform: translateX(100%);
    }
    100%{
      transform: translateX(0);
    }
  }